<nz-footer
  class="fixed bottom-0 right-0 left-0 !p-0 drop-shadow z-[2]"
  style="background-color: transparent"
>
  <div class="contact flex items-center justify-evenly z-10 h-[50px]">
    <div class="contact__item wrapper">
      <div class="ring-container">
        <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
          <div class="coccoc-alo-ph-circle"></div>
          <div class="coccoc-alo-ph-circle-fill"></div>
          <div
            class="coccoc-alo-ph-img-circle bg-zalo-icon bg-center bg-[#1e1e1e] bg-no-repeat"
          ></div>
        </div>
      </div>
    </div>
    <div class="contact__item wrapper">
      <div class="ring-container">
        <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
          <div class="coccoc-alo-ph-circle"></div>
          <div class="coccoc-alo-ph-circle-fill"></div>
          <div
            class="coccoc-alo-ph-img-circle bg-phone-icon bg-center bg-[#1e1e1e] bg-no-repeat"
          ></div>
        </div>
      </div>
    </div>
    <div class="contact__item wrapper">
      <div class="ring-container">
        <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
          <div class="coccoc-alo-ph-circle"></div>
          <div class="coccoc-alo-ph-circle-fill"></div>
          <div
            class="coccoc-alo-ph-img-circle bg-messenger-icon bg-center bg-[#1e1e1e] bg-no-repeat"
          ></div>
        </div>
      </div>
    </div>
    <div class="contact__item wrapper">
      <div class="ring-container">
        <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
          <div class="coccoc-alo-ph-circle"></div>
          <div class="coccoc-alo-ph-circle-fill"></div>
          <div
            class="coccoc-alo-ph-img-circle bg-sms-icon bg-center bg-[#1e1e1e] bg-no-repeat"
          ></div>
        </div>
      </div>
    </div>
    <!-- <div class="contact__item cursor-pointer flex flex-col items-center shadow-sm" (click)="handleOpenZalo()">
      <img src="/assets/icons/icons8-zalo.svg" alt="Zalo Icon" />
      <p class="mb-0">Chat Zalo</p>
    </div> -->
    <!-- <div class="contact__item cursor-pointer flex flex-col items-center" (click)="handleCall()">
      <img src="/assets/icons/icons8-phone.svg" alt="Phone Icon" />
      <p class="mb-0">Liên hệ</p>
    </div>
    <div class="contact__item cursor-pointer flex flex-col items-center" (click)="handleOpenFacebook()">
      <img src="/assets/icons/icons8-messenger.svg" alt="Messenger Icon" />
      <p class="mb-0">Messenger</p>
    </div>
    <div class="contact__item cursor-pointer flex flex-col items-center" (click)="handleTextSMS()">
      <img src="/assets/icons/icons8-sms-48.png" alt="Messenger Icon" />
      <p class="mb-0">Nhắn tin</p>
    </div> -->
  </div>
</nz-footer>
