<nz-footer
  class="fixed bottom-0 right-0 left-0 !p-0 drop-shadow z-[2]"
  style="background-color: transparent"
>
  <div class="contact flex items-center justify-evenly z-10 h-[50px]">
    <div class="contact__item wrapper" (click)="handleOpenZalo()">
      <div class="ring-container">
        <div class="phone phone-color">
          <div class="circle animate-circleAnim"></div>
          <div class="circle-fill animate-circleFillAnim"></div>
          <div
            class="img-circle animate-phoneRing bg-zalo-icon bg-center bg-[#1e1e1e] bg-no-repeat"
          ></div>
        </div>
      </div>
    </div>
    <div class="contact__item wrapper" (click)="handleCall()">
      <div class="ring-container">
        <div class="phone phone-color">
          <div class="circle animate-circleAnim"></div>
          <div class="circle-fill animate-circleFillAnim"></div>
          <div
            class="img-circle animate-phoneRing bg-phone-icon bg-center bg-[#1e1e1e] bg-no-repeat"
          ></div>
        </div>
      </div>
    </div>
    <div class="contact__item wrapper" (click)="handleOpenFacebook()">
      <div class="ring-container">
        <div class="phone phone-color">
          <div class="circle animate-circleAnim"></div>
          <div class="circle-fill animate-circleFillAnim"></div>
          <div
            class="img-circle animate-phoneRing bg-messenger-icon bg-center bg-[#1e1e1e] bg-no-repeat"
          ></div>
        </div>
      </div>
    </div>
    <div class="contact__item wrapper" (click)="handleTextSMS()">
      <div class="ring-container">
        <div class="phone phone-color">
          <div class="circle animate-circleAnim"></div>
          <div class="circle-fill animate-circleFillAnim"></div>
          <div
            class="img-circle animate-phoneRing bg-sms-icon bg-center bg-[#1e1e1e] bg-no-repeat"
          ></div>
        </div>
      </div>
    </div>
  </div>
</nz-footer>
