<nz-footer class="fixed bottom-0 right-0 left-0 drop-shadow !p-4 border-t-2 border-primary">
  <div class="contact flex items-center justify-between z-10">
    <div class="cursor-pointer flex flex-col items-center">
      <img src="/assets/icons/icons8-zalo.svg" alt="Zalo Icon" />
      <p class="mb-0">Chat Zalo</p>
    </div>
    <div class="cursor-pointer flex flex-col items-center">
      <img src="/assets/icons/icons8-phone.svg" alt="Phone Icon" />
      <p class="mb-0">Liên hệ</p>
    </div>
    <div class="cursor-pointer flex flex-col items-center">
      <img src="/assets/icons/icons8-messenger.svg" alt="Messenger Icon" />
      <p class="mb-0">Messenger</p>
    </div>
    <div class="cursor-pointer flex flex-col items-center">
      <img src="/assets/icons/icons8-sms-48.png" alt="Messenger Icon" />
      <p class="mb-0">Nhắn tin</p>
    </div>
  </div>
</nz-footer>
