@import "mixin";

.themeMixin({
  :host {
    .contact {
      position: relative;
      background-color: @layout-footer-background;
      z-index: -10;
      border-top: 1px solid @primary-color;
    }
    .contact__item {
      border-radius: 8px;
    }

    .circle {
        width: 160px;
        height: 160px;
        top: -30px;
        left: -30px;
        position: absolute;
        background-color: transparent;
        border-radius: 100%;
        border: 2px solid rgba(30, 30, 30, 0.4);
        opacity: 0.1;
        transition: all 0.5s;
    }

    .phone {
        background-color: transparent;
        width: 100px;
        height: 100px;
        cursor: pointer;
        z-index: 200000 !important;
        backface-visibility: hidden;
        transform: translateZ(0);
        transition: visibility 0.5s;
        right: 150px;
        top: 30px;
    }

    .phone.phone-color {
        .circle-fill {
            background-color: @primary-color-hover;
            opacity: 0.75 !important;
        }

        .img-circle {
            background-color: @primary-color;
        }

        .circle {
            border-color: @primary-color;
            opacity: 0.5;
        }

        &:hover {
            .circle {
                border-color: @success-color;
                opacity: 0.5;
            }

            .circle-fill {
                background-color: @success-color;
                opacity: 0.75 !important;
            }

            .img-circle {
                background-color: @success-color;
            }
        }
    }

    .circle-fill {
        width: 100px;
        height: 100px;
        top: 0px;
        left: 0px;
        position: absolute;
        background-color: @success-color;
        border-radius: 100%;
        border: 2px solid transparent;
        opacity: 0.1;
        transition: all 0.5s;
    }

    .img-circle {
        width: 60px;
        height: 60px;
        top: 20px;
        left: 20px;
        position: absolute;
        border-radius: 100%;
        border: 2px solid transparent;
        opacity: 0.7;
    }
  }

  :host ::ng-deep {
    nz-footer {
        padding: 50px 24px;
    }
  }
});
