@if (data()) {
<div class="container-list-card xs:px-2 sm:px-4">
  @if (categoryName()) {
  <nz-divider class="custom-divider" [nzText]="categoryName()"></nz-divider>
  }
  <div nz-row [nzGutter]="[16, 16]">
    @for (item of data() | slice : (pageIndex() - 1) * pageSize() : pageIndex()
    * pageSize(); track $index) {
    <div
      nz-col
      nzXs="12"
      nzSm="12"
      nzMd="6"
      nzLg="6"
      nzXl="6"
      nzXXl="4"
      class="gutter-row"
    >
      @defer(on viewport) {
      <nz-card
        nzHoverable
        [nzCover]="coverTemplate"
        class="!rounded-lg flex flex-col"
      >
        <nz-card-meta
          [nzTitle]="title"
          [nzDescription]="description"
          (click)="openProductDetail($any(item).slug.current)"
        ></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img
          class="custom-image !rounded-tl-lg !rounded-tr-lg object-cover h-[220px]"
          nz-image
          [nzSrc]="$any(item)?.defaultProductVariant?.images?.[0] ? ($any(item).defaultProductVariant.images[0] | sanityImage) : ''"
          [alt]="$any(item).title"
          [nzFallback]="fallback"
          loading="lazy"
        />
      </ng-template>
      <ng-template #title>
        <p class="capitalize mb-0">
          {{ $any(item).title }}
        </p>
      </ng-template>
      <ng-template #description>
        <div class="flex items-center gap-x-2">
          <span>Đơn vị: </span>
          <h3 class="product__price mb-0">
            {{ $any(item)?.defaultProductVariant?.title }}
          </h3>
        </div>
        <div class="price flex items-center justify-end gap-x-2">
          <span class="xs:hidden sm:hidden md:inline-block">Giá: </span>
          <h3 class="product__price mb-0 text-primary">
            {{ $any(item)?.defaultProductVariant?.price | currency : "VND" }}
          </h3>
          @if ($any(item)?.defaultProductVariant?.maxprice) {
          <span>-</span>
          <h3 class="product__maxprice mb-0 text-primary">
            {{ $any(item)?.defaultProductVariant?.maxprice | currency : "VND" }}
          </h3>
          }
        </div>
        <!-- <p nz-typography nzEllipsis [nzEllipsisRows]="3">
          {{ $any(item).blurb }}
        </p> -->
      </ng-template>
      } @placeholder {
      <nz-skeleton-element
        nzType="image"
        [nzActive]="true"
      ></nz-skeleton-element>
      }
    </div>
    }
  </div>
  <nz-pagination
    class="custom-pagination"
    [nzPageIndex]="pageIndex()"
    [nzPageSize]="pageSize()"
    [nzTotal]="data().length"
    (nzPageIndexChange)="pageIndex.set($event)"
    (nzPageSizeChange)="pageSize.set($event)"
  ></nz-pagination>
</div>
} @else {
<nz-result nzStatus="404" nzTitle="404" nzSubTitle="Trang không tồn tại">
  <div nz-result-extra>
    <button nz-button nzType="primary">
      <a [routerLink]="'/home'">Về trang chủ</a>
    </button>
  </div>
</nz-result>
}
