@if (data().length > 0) {
<div class="container-list-card xs:px-2 sm:px-4">
  <nz-divider class="custom-divider" [nzText]="categoryName()"></nz-divider>
  <div nz-row [nzGutter]="[16, 16]">
    @for (item of data() | slice : (pageIndex - 1) * pageSize : pageIndex *
    pageSize; track $index) {
    <div
      nz-col
      nzXs="12"
      nzSm="12"
      nzMd="6"
      nzLg="6"
      nzXl="6"
      nzXXl="4"
      class="gutter-row"
    >
      <nz-card nzHoverable class="w-full" [nzCover]="coverTemplate" class="h-full">
        <nz-card-meta
          [nzTitle]="$any(item).title"
          [nzDescription]="description"
          (click)="openProductDetail($any(item).slug.current)"
        ></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img
          class="custom-image"
          nz-image
          [nzSrc]="$any(item)?.defaultProductVariant?.images?.[0] ? ($any(item).defaultProductVariant.images[0] | sanityImage) : ''"
          [alt]="$any(item).title"
          [nzFallback]="fallback"
          (click)="handleClickImage($event)"
        />
      </ng-template>
      <ng-template #description>
        <p nz-typography nzEllipsis [nzEllipsisRows]="3">
          {{ $any(item).blurb }}
        </p>
      </ng-template>
    </div>
    }
  </div>
  <nz-pagination
    class="custom-pagination"
    [nzPageIndex]="pageIndex"
    [nzPageSize]="pageSize"
    [nzTotal]="data().length"
    (nzPageIndexChange)="pageIndex = $event"
    (nzPageSizeChange)="pageSize = $event"
  ></nz-pagination>
</div>
}
