<div class="container-list-card xs:px-2 sm:px-4">
  <nz-divider [nzText]="categoryName()"></nz-divider>
  <!-- <nat-carousel></nat-carousel> -->
  <nz-list
    [nzGrid]="{ gutter: 8, xs: 12,
    sm: 12,
    md: 6,
    lg: 6,
    xl: 6,
    xxl: 4, }"
    [nzDataSource]="data()"
    [nzRenderItem]="item"
  >
    <!-- [nzPagination]="paginationTpl" -->
    <ng-template #item let-item>
      <nz-list-item [nzContent]="content">
        <ng-template #content>
          <nz-card nzHoverable class="w-full" [nzCover]="coverTemplate">
            <nz-card-meta
              [nzTitle]="item.title"
              [nzDescription]="description"
              (click)="openProductDetail(item.slug.current)"
            ></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img
              nz-image
              [nzSrc]="item.defaultProductVariant.images[0] | sanityImage"
              [alt]="item.title"
              [nzFallback]="fallback"
            />
          </ng-template>
          <ng-template #description>
            <p nz-typography nzEllipsis [nzEllipsisRows]="3">
              {{ item.blurb }}
            </p>
          </ng-template>
        </ng-template>
      </nz-list-item>
    </ng-template>
    <ng-template #paginationTpl>
      <nz-list-pagination>
        <nz-pagination
          [nzPageIndex]="pageIndex"
          [nzPageSize]="pageSize"
          [nzTotal]="data.length"
          (nzPageIndexChange)="pageIndex = $event"
          (nzPageSizeChange)="pageSize = $event"
        ></nz-pagination>
      </nz-list-pagination>
    </ng-template>
  </nz-list>
</div>
