<nz-layout>
  <nat-header></nat-header>
  <nz-content class="outer-content">
    <nz-layout class="inner-layout">
      <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
        <div class="logo"></div>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <span nz-icon nzType="user"></span>
            <span>nav 1</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="video-camera"></span>
            <span>nav 2</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="upload"></span>
            <span>nav 3</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="user"></span>
            <span>nav 4</span>
          </li>
        </ul>
      </nz-sider>
      <nz-content class="xs:px-0 sm:px-4">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
    <nat-footer></nat-footer>
  </nz-content>
</nz-layout>
