<nz-layout>
  <nat-header [storeInfor]="storeInfor()"></nat-header>
  <nz-content class="outer-content">
    <nz-layout class="inner-layout">
      <nz-sider
        #sider
        nzCollapsible
        nzBreakpoint="xl"
        [nzCollapsedWidth]="0"
        class="inline-block"
      >
        <div class="logo"></div>
        <ul nz-menu nzMode="inline">
          <li nz-menu-item (click)="goHome()">
            <span>Trang chủ</span>
          </li>
          @for (item of categories(); track $index) {
          <li nz-menu-item (click)="goToPage(item.slug)" nzMatchRouter>
            <a [routerLink]="['/', 'categories', item.slug.current]">
              <span class="uppercase">{{ item.title }}</span>
            </a>
          </li>
          }
          <li nz-menu-item>
            <nat-theme-selector
              (changeTheme)="handleThemChange($event)"
            ></nat-theme-selector>
          </li>
        </ul>
      </nz-sider>
      <div class="w-full xl:max-w-[986px] 2xl:max-w-[1200px] ml-auto mr-auto">
        <nz-content class="pt-2 pb-4 xs:px-4 sm:px-5 md:px-6 lg:px-7 xl:px-8">
          <router-outlet></router-outlet>
        </nz-content>
      </div>
    </nz-layout>
    <nat-footer [storeInfor]="storeInfor()"></nat-footer>
  </nz-content>
</nz-layout>
<nz-back-top></nz-back-top>
