<nz-header class="border-b-2 border-primary">
  <div nz-row class="py-2 w-full max-w-[1200px] ml-auto mr-auto">
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzLg]="5"
      class="text-xl xs:text-center sm:text-center hotline-container cursor-pointer relative"
      (click)="callHotline(storeInfor?.hotline)"
    >
      <div
        class="wrapper w-0 h-0 xs:inline-block sm:hidden absolute top-[-10px] left-[-60px]"
      >
        <div class="ring-container">
          <div class="phone phone-color">
            <div class="circle animate-circleAnim"></div>
            <div class="circle-fill animate-circleFillAnim"></div>
            <div
              class="img-circle animate-phoneRing bg-phone-call-icon bg-center bg-[#1e1e1e] bg-no-repeat"
            ></div>
          </div>
        </div>
      </div>
      <span>Hotline:</span>
      <span class="font-bold hotline text-xl">
        <i class="Phone is-animating"></i>
        {{ storeInfor?.hotline | phoneFormat }}</span
      >
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzLg]="14" class="text-lg text-[#fff]">
      <span class="font-semibold">Địa chỉ:</span> {{ storeInfor?.address }}
    </div>
    <div nz-col [nzXs]="0" [nzSm]="0" [nzLg]="5" class="text-lg text-[#fff]">
      Email: <span class="font-semibold">{{ storeInfor?.email }}</span>
    </div>
  </div>
</nz-header>
<div class="logo-container">
  <div nz-row class="pb-2 w-full max-w-[1200px] pl-auto pr-auto">
    <div
      nz-col
      [nzXs]="{
        span: 24
      }"
      [nzSm]="24"
      [nzLg]="{
        span: 2,
        offset: 0
      }"
    >
      <img
        src="assets/images/logo.jpg"
        alt="Logo Ăn Vặt Cheri"
        class="w-[100px] rounded-[50%] my-2 xs:mx-auto sm:mx-auto"
      />
    </div>
    <div
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzLg]="{
        span: 20,
        offset: 2
      }"
      class="m-auto xs:px-4 sm:px-5 md:px-6 lg:px-0"
    >
      <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
        <input
          type="text"
          nz-input
          placeholder="Tìm kiếm sản phẩm"
          [(ngModel)]="searchText"
          (keyup.enter)="handleSearchProduct()"
        />
      </nz-input-group>
      <ng-template #suffixButton>
        <button
          nz-button
          nzType="primary"
          nzSize="large"
          nzSearch
          (click)="handleSearchProduct()"
        >
          Tìm kiếm
        </button>
      </ng-template>
    </div>
  </div>
</div>
