<swiper-container
  #carousel
  natSwiper
  [config]="carouselConfig"
  init="false"
  class="swiper-container w-full h-[300px]"
>
  @for (slide of slides(); let i = $index; track i) {
  <swiper-slide class="w-[300px]">
    <!-- @defer (on viewport) { -->
    <img
      class="custom-image w-full object-cover"
      nz-image
      [nzSrc]="slide?.image ? (slide.image | sanityImage : { width: 300 }) : ''"
      [alt]="slide.buttonText"
      [nzFallback]="fallback"
      [nzDisablePreview]="true"
      width="300"
      height="300"
    />
    <!-- } @placeholder {
    <nz-spin nzSimple></nz-spin>
    } -->
  </swiper-slide>
  }
</swiper-container>
