<swiper-container
  #carousel
  natSwiper
  [config]="carouselConfig"
  init="false"
  class="swiper-container w-full h-[300px]"
>
  @for (slide of slides(); let i = $index; track i) {
  <swiper-slide class="w-[300px]">
    @defer {
    <img
      class="custom-image w-full object-cover"
      nz-image
      [nzSrc]="slide?.image ? (slide.image | sanityImage) : ''"
      [alt]="slide.buttonText"
      [nzFallback]="fallback"
      [nzDisablePreview]="true"
    />
    } @loading (after 100ms; minimum 1s) {
    <nz-spin nzSimple></nz-spin>
    }
  </swiper-slide>
  }
</swiper-container>
